<html>
    <head>
        <title>Memelation</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/memelation.css') }}">
    </head>
    <body>

<div class="navbar">
    <ul>
        <li><a class="active" href="/">Memelation</a></li>
        <li><a href="/meme/random">Random meme</a></li>
        <li><a href="/users">Users</a></li>
        <li><a class="comingsoon" href="#">Search (coming soon)</a></li>
        {% if session.user_id %}
        <li style="float:right"><a href="/logout">Logged in as {{ username }} (<u>Logout</u>)</a></li>
        {% else %}
        <li style="float:right"><a href="/register">Create account</a></li>
        {% endif %}
    </ul>
</div>

<div class="main">

    <h1>Memelation</h1>
    <strong>Total of {{ count }} memes submitted.</strong>
<hr>

<table>
{% for meme in memes %}
<tr>
    <td>{{ meme[2].strftime("%Y-%m-%d %H:%M") }}</td>
    <td><a href="/user/{{meme[4]}}">{{ meme[1] }}</a></td>
    <td><a href="/meme/{{meme[3]}}">{{ meme[0] }}</a></td>
</tr>
{% endfor %}
</table>
<hr/>

{% if session.user_id %}

Logged in as {{ username }}.
<h2>Submit a meme:</h2>
<form action="/send" method="POST" enctype="multipart/form-data">
<table>
<tr>
    <td><input type="file" name="file" value="Upload a meme"></td>
</tr>
    <tr>
    <td colspan="2">
        Message:
        <textarea name="content" rows="3" cols="40"></textarea>
    </td>
</tr>
<tr>
    <td><input type="submit" value="Send"></td>
</tr>
</table>
</form>
<br/><a href="/users">Users</a> | <a href="/logout">Logout</a>

{% else %}

<h3>Login</h3>

<form action="/login" method="POST">
    <p>Username: <input type="text" name="username">
    <p>Password: <input type="password" name="password">
    <p><input type="submit" value="Login">
    <p>{{ msg_loginfailed }}
</form>
<hr/>
No account? <a href="/register">Register</a>

{% endif %}

</div>

</body>
</html>
