<html>
    <head>
        <title>Memelation 0.3.0</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/memelation.css') }}">
    </head>
    <body>

<div class="navbar">
    <ul>
        <li><a class="active" href="/">Memelation</a></li>
        <li><a href="/meme/random">Random</a></li>
        <li><a href="/users">Users</a></li>
        <li><a class="comingsoon" href="#">Search (coming soon)</a></li>
        {% if session.user_id %}
        <li style="float:right">Logged in as {{ username }} <a href="/logout">(<u>Logout</u>)</a></li>
        {% else %}
        <div class="login-container">
            <form action="/login" method="POST">
              <input type="text" placeholder="Username" name="username">
              <input type="password" placeholder="Password" name="password">
              <button type="submit">Login</button>
            </form>
        </div>
        <li style="float:right"><a href="/register">Sign up</a></li>
        {% endif %}
    </ul>
</div>

<div class="main">

    <h1>Memelation</h1>
    <strong>Total of {{ count }} memes submitted.</strong>
<hr>

<table>
{% for meme in memes %}
<tr>
    <td>{{ meme[2].strftime("%Y-%m-%d %H:%M") }}</td>
    <td><a href="/user/{{meme[4]}}">{{ meme[1] }}</a></td>
    <td><a href="/meme/{{meme[3]}}">{{ meme[0] }}</a></td>
</tr>
{% endfor %}
</table>
<hr/>

{% if session.user_id %}

{{ message }} Logged in as {{ username }}.
<h2>Submit a meme:</h2>
<form action="/send" method="POST" enctype="multipart/form-data">
<table>
<tr>
    <td><input type="file" name="file" value="Upload a meme"></td>
</tr>
    <tr>
    <td colspan="2">
        Message:
        <textarea name="content" rows="3" cols="40"></textarea>
    </td>
</tr>
<tr>
    <td><input type="submit" value="Send"></td>
</tr>
</table>
</form>
<br/><a href="/users">Users</a> | <a href="/logout">Logout</a>

{% else %}

No account? <a href="/register">Register</a>

{% endif %}

</div>

</body>
</html>
