{% if session.user_id %}

<h1>Memelation</h1>
Viestien määrä: {{ count }}
<hr>

<table>
{% for message in messages %}
<tr>
    <td>{{ message[2].strftime("%Y-%m-%d %H:%M") }}</td>
    <td>{{ message[1] }}</td>
    <td>{{ message[0] }}</td>
</tr>
{% endfor %}
</table>
<hr/>

Olet kirjautunut sisään.
<form action="/send" method="post">
    Viesti: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
</form>
<br/><a href="/users">Käyttäjät</a> | <a href="/logout">Kirjaudu ulos</a>

{% else %}

<h3>Kirjaudu sisään nähdäksesi tämän sivun</h3>
<form action="/login" method="post">
    Tunnus: <input type="text" name="username">
    <p>
    Salasana: <input type="password" name="password">
    <p>
    <input type="submit" value="Kirjaudu">
    </form>
    Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>

{% endif %}