{% extends "layout.html" %}
{% block title %}Submit New Meme{% endblock %}
{% block content %}

<h3>Meme #{{ meme_data[0] }}</h3>

<hr>
<img src="/meme/img/{{ meme_data[0] }}" height="400"/>
<br/>
<a href="/meme/img/{{ meme_data[0] }}">{{ meme_data[1] }}</a> | 
{{meme_data[4].strftime("%Y-%m-%d %H:%M")}} | 
<a href="/user/{{ meme_data[3] }}">({{ meme_data[5] }}</a>)
<br/>
Description: {{ meme_data[2] }}
<br/>
Tagwords: {% for tag in meme_tags %} <a href="/tag/{{tag}}">#{{tag}}</a>&nbsp; {% endfor %}
<hr>

<table>
    <tr><td colspan="3"><p><strong>Comments:</strong></p></td></tr>
    {% for comment in meme_comments %}
    <tr>
        <td>{{ comment[5].strftime("%Y-%m-%d %H:%M") }}</td>
        <td><strong>{{ comment[0] }}</strong>:</td>
        <td>{{ comment[4] }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

{% if session.user_id %}

<script> window.onload = function() {document.getElementById("commentfield").focus();};</script>
<form action="/comment" method="POST">
    <p style="color: red">{{ error_msg }}</p>
    <p>
        Your comment: 
        <input id="commentfield" type="text" name="comment">
        <input type="submit" value="Send">
    </p>
    <input type="hidden" name="meme_id" value="{{ meme_data[0] }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<p>Log in or <a href="/signup">sign up</a> to post comments!</p>
{% endif %}

<hr>

{% endblock %}
