<html>
    <head>
        <title>Memelation</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/memelation.css') }}">
        <script>
            window.onload = function() {
            document.getElementById("commentfield").focus();
            };
        </script>
    </head>
    <body>

<div class="navbar">
    <ul>
        <li><a href="/">Memelation</a></li>
        <li><a href="/users">Users</a></li>
        <li><a class="comingsoon" href="#">Search (coming soon)</a></li>
        {% if session.user_id %}
        <li style="float:right"><a href="/logout">Logged in as {{ username }} (<u>Logout</u>)</a></li>
        {% else %}
        <li style="float:right"><a href="/register">Create account</a></li>
        {% endif %}
    </ul>
</div>

<div class="main">


<h3>Meme #{{ meme_data[0] }}</h3>

<hr/>
<img src="/meme/img/{{ meme_data[0] }}" height="400"/>
<br/>
<a href="/meme/img/{{ meme_data[0] }}">{{ meme_data[1] }}</a> | 
{{meme_data[4].strftime("%Y-%m-%d %H:%M" )}} | 
<a href="/user/{{ meme_data[3] }}">({{ meme_data[5] }}</a>)
<br/>
"{{ meme_data[2] }}"
<br/>

<hr>

{% if session.user_id %}

<table>
    {% for comment in meme_comments %}
    <tr>
        <td>{{ comment[5].strftime("%Y-%m-%d %H:%M") }}</td>
        <td><strong>{{ comment[0] }}</strong>:</td>
        <td>{{ comment[4] }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<form action="/comment" method="POST">
    <p>Your comment: <input id="commentfield" type="text" name="comment"></p>
    <p><input type="submit" value="Send"></p>
    <p>{{ msg_commentfailed }}</p>
    <input type="hidden" name="meme_id" value="{{ meme_data[0] }}">
</form>
{% else %}
<p>Log in to see comments and post your own.</p>
{% endif %}

<hr>

{% if session.user_id %}
<a href="/">Back home</a> | <a href="/logout">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}

</div>
</body>
</html>
