{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}

{% if session.user_id %}

<h1>Search memes</h1>

<script> window.onload = function() {document.getElementById("commentfield").focus();};</script>
<form action="/search" method="GET">
    <label for="search_query"></label>
    <input type="text" id="search_query" name="search_query" placeholder="Search for...">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Search">
</form>

{% else %}
<h2>Search memes</h2>
<p>Log in or <a href="/signup">sign up</a> to use the search feature!</p>
{% endif %}

{% endblock %}
