{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}

<h3>Users</h3>
Memelation has a total of {{ usercount }} registered users.

<hr>

{% if session.user_id %}
<table>
<tr>
<td><strong>User</strong></td>
<td><strong>Profile created</strong></td>
</tr>
{% for user in users %}
<tr>
<td><strong><a href="/user/{{ user[2] }}">{{ user[0] }}</a></strong></td>
<td>{{ user[1].strftime("%Y-%m-%d %H:%M:%S") }}</td>
</tr>
{% endfor %}
</table>

<hr>
{% else %}
<p>Log in or <a href="/signup">sign up</a> to view users!</p>
{% endif %}

{% endblock %}
