<html>
    <head>
        <title>Memelation</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/memelation.css') }}">
       </head>
    <body>

<div class="navbar">
    <ul>
        <li><a href="/">Memelation</a></li>
        <li><a href="/meme/random">Random meme</a></li>
        <li><a class="active" href="/users">Users</a></li>
        <li><a class="comingsoon" href="#">Search (coming soon)</a></li>
        {% if session.user_id %}
        <li style="float:right"><a href="/logout">Logged in as {{ username }} (<u>Logout</u>)</a></li>
        {% else %}
        <li style="float:right"><a href="/register">Create account</a></li>
        {% endif %}
    </ul>
</div>

<div class="main">

<h3>Users</h3>
Total of {{ usercount }} registered users.

<hr>

<table>
<tr>
<td><strong>User</strong></td>
<td><strong>Profile created</strong></td>
</tr>
{% for user in users %}
<tr>
<td><strong><a href="/user/{{ user[2] }}">{{ user[0] }}</a></strong></td>
<td>{{ user[1].strftime("%Y-%m-%d %H:%M:%S") }}</td>
</tr>
{% endfor %}
</table>

<hr>

{% if session.user_id %}
<a href="/">Back home</a> | <a href="/logout">Logout</a>
{% else %}
<a href="/">Login</a>
{% endif %}

</div>
</body>
</html>
