<html>
    <head>
        <title>Memelation</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/memelation.css') }}">
       </head>
    <body>

<div class="navbar">
    <ul>
        <li><a href="/">Memelation</a></li>
        <li><a href="/users">Users</a></li>
        <li><a class="comingsoon" href="#">Search (coming soon)</a></li>
        {% if session.user_id %}
        <li style="float:right"><a href="/logout">Logged in as {{ username }} (<u>Logout</u>)</a></li>
        {% else %}
        <li style="float:right"><a href="/register">Create account</a></li>
        {% endif %}
    </ul>
</div>

<div class="main">

{% if session.user_id %}

<h3>{{ userdata['user'][1] }}</h3>

<hr>

<table>
    <thead><strong>USER INFORMATION</strong></thead>
    <tr>
        <td>user name:</td>
        <td>{{ userdata['user'][1] }}</td>
    </tr>
    <tr>
        <td>user id:</td>
        <td>{{ userdata['user'][0] }}</td>
    </tr>
    <tr>
        <td>profile created:</td>
        <td>{{ userdata['user'][2].strftime("%Y-%m-%d %H:%M") }}</td>
    </tr>
</table>

<hr>

<table>
    <thead><strong>MEMES SUBMITTED</strong></thead>
    {% for meme in userdata['memes'] %}
    <tr>
        <td><a href="/meme/{{ meme[0] }}"><img src="/meme/img/{{ meme[0] }}" height="100"></a></td>
        <td>
            <p>
                <strong><a href="/meme/{{ meme[0] }}">{{ meme[1] }}</a></strong><br>
                {{ meme[2] }}<br>
                {{ meme[3 ]}}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>

<hr>

<a href="/">Back home</a> | <a href="/logout">Logout</a>
{% else %}
<p>
<a href="/">Login</a> to view users' profiles.<br>
No account? <a href="/register">Create one here!</a>
</p>
{% endif %}

</div>
</body>
</html>
