{% extends "layout.html" %}
{% block title %}{{ userdata['user'][1] }}{% endblock %}
{% block content %}



<h3>{{ userdata['user'][1] }}</h3>

{% if session.user_id %}

<hr>

<table>
    <thead><strong>USER INFORMATION</strong></thead>
    <tr>
        <td>user name:</td>
        <td>{{ userdata['user'][1] }}</td>
    </tr>
    <tr>
        <td>user id:</td>
        <td>{{ userdata['user'][0] }}</td>
    </tr>
    <tr>
        <td>profile created:</td>
        <td>{{ userdata['user'][2].strftime("%d.%m.%Y") }}</td>
    </tr>
</table>

<hr>

<table>
    <thead><strong>MEMES SUBMITTED</strong></thead>
    {% for meme in userdata['memes'] %}
    <tr>
        <td><a href="/meme/{{ meme[0] }}"><img src="/meme/img/{{ meme[0] }}" height="100"></a></td>
        <td>
            <p>
                <strong><a href="/meme/{{ meme[0] }}">{{ meme[1] }}</a></strong><br>
                {{ meme[2] }}<br>
                <strong>{{ meme[3].strftime("%d.%m.%Y") }}</strong> {{ meme[3].strftime("(%H:%M)") }}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>Log in or <a href="/signup">sign up</a> to view user profiles!</p>
{% endif %}

{% endblock %}
