@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {

    font-family: Arial, 'Roboto Mono', monospace;
    font-size: 12 pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.comingsoon {
    color: rgb(156, 156, 156);
}

.main {
    align: center;
}

.navbar .login-container {
    float: right;
    }

.navbar input[type=text], .navbar input[type=password] {
    padding: 6px;
    margin-top: 8px;
    border-radius: 6px;
    font-size: 14px;
    border: none;
    width: 150px; 
}

.navbar .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    border-radius: 6px;
    margin-right: 16px;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
    }

.navbar .login-container button:hover {
    background: #ccc;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .navbar .login-container {
        float: none;
    }
    .navbar a, .navbar input[type=text], .navbar input[type=password], .navbar .login-container button {
        float: none;
        display: block;
        border-radius: 6px;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .navbar input[type=text], .navbar input[type=password] {
        border: 1px solid #ccc;
    }
  }